page {
	background: rgb(245,246,250);
}
.logged-button {
	background: linear-gradient(to right, rgba(229, 80, 50, 1), rgba(225, 120, 67, 1));
	position: absolute;
	width: 300upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	border-radius: 20upx;
	top: 450upx;
	left: 50%;
	margin-left: -150upx;
	color: #FFFFFF;
}



.logged {
	position: relative;
}
.user-info {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	width: 650upx;
	height: 360upx;
	top: 115upx;
	left:50%;
	transform:translate(-50%);
	border-radius: 30upx;
}
.user-info .user-name {
	width: 300upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 22px;
	margin-left: 50upx;
}
.user-info .avatar {
	width: 150upx;
	height: 150upx;
	border-radius: 25upx;
	margin-left: 50upx;
}
.user-info .sex {
	width: 40upx;
	height: 40upx;
}
.user-signature {
	position: absolute;
	top: 390upx;
	left: 125upx;
	width: 500upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.settings {
	/* font-size: 16px; */
	position: absolute;
	top: 500upx;
	width: 610upx;
	height: 70upx;
	line-height: 70upx;
	background-color: #FFFFFF;
	left:50%;
	transform:translate(-50%);
	border-radius: 15upx;
	padding-left: 40upx;
}
.settings image {
	top: 12upx;
	width: 40upx;
	height: 40upx;
	margin-right: 20upx;
}

.log-out {
	position: absolute;
	top: 620upx;
	width: 610upx;
	height: 70upx;
	line-height: 70upx;
	background-color: #FFFFFF;
	left:50%;
	transform:translate(-50%);
	border-radius: 15upx;
	padding-left: 40upx;
}
.log-out image {
	top: 12upx;
	width: 40upx;
	height: 40upx;
	margin-right: 20upx;
}