.setting-form {
	width: 90%;
	margin: 0 auto;
}
.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50upx;
	margin-bottom: 100upx;
}
.avatar image {
	width: 150upx;
	height: 150upx;
	border-radius: 50%;
	margin-bottom: 20upx;
}

.info-wrapper {
	display: flex;
	font-size: 18px;
	padding: 20upx 0;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 80upx;
}
.info-wrapper .text {
	width: 150upx;
	margin-right: 50upx;
}
.info-wrapper input {
	font-size: 18px;
	
}
.info-wrapper picker {
	font-size: 18px;
	
}

.setting-form button {
	width: 40%;
	background: linear-gradient(to right, rgba(229, 80, 50, 1), rgba(225, 120, 67, 1));
	color: #FFFFFF;
}